/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* COMMON CLASSES */
.clearfix:after{
    display: table;
    content: "";
    clear: both;
}

.flex-container{
    display: flex;
}

.inline-block{
    display: inline-block;
}

.white{
    color: white;
}

.grey{
    color: grey;
}

.font-small{
    font-size: 0.7rem;
}

.font-medium{
    font-size: 1rem;
}

.font-large{
    font-size: 1.3rem;
}

p{
    line-height: 1.5rem;
}

ul{
    list-style: none;
    padding: 0;
}

.display-mobile{
    display: none;
}


/* LEFT SIDE BAR */
#side-nav{
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: black;
    height: calc(100vh - 80px);
    padding: 10px 10px 0 10px;
    line-height: 2rem;
}

#side-nav i{
    vertical-align:middle;
}

#side-nav span{
    vertical-align: middle;
}

#install{
    border-bottom: 1px solid grey;
}
