/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* COMMON CLASSES */
.clearfix:after{
    display: table;
    content: "";
    clear: both;
}

.flex-container{
    display: flex;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.inline-block{
    display: inline-block;
}

.white{
    color: white;
}

.grey{
    color: grey;
}

.font-small{
    font-size: 0.65rem;
}

.font-medium{
    font-size: .8rem;
}

.font-large{
    font-size: 1.3rem;
}

.font-extra-large{
    font-size: 2.1rem;
}

.display-mobile{
    display: none;
}

.width-fill{
    width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

/* BODY AND MAIN*/
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

main{
    width: 100vw;
    background-color: rgb(20, 25, 34);
}

/* LEFT SIDE BAR */
#logo img{
    width: 100px;
}

#side-nav{
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    background-color: black;
    height: calc(100vh - 80px);
    padding: 10px 10px 0 10px;
    line-height: 2rem;
}

#side-nav i{
    vertical-align:middle;
    padding-right: 5px;
}

#side-nav span{
    vertical-align: middle;
}

#install{
    border-bottom: 1px solid grey;
}

/* MAIN CONTENT SECTION */
#main-content{
    width: calc(100vw - 180px);
}

/* TOP MAIN UPGRADE BAR */
#top-upgrade-bar {
    height: 80px;
    width: calc(100vw - 180px);
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

#top-upgrade-bar a{
    margin-right: 20px;
    padding: 12px 30px;
    border-radius: 30px;
    border: 1px solid white;
}

/* MAIN NAVIGATION BAR */
#main-nav{
    margin-top: 80px;
    text-align: center;
}

#main-nav ul{
    line-height: 40px;
}

#main-nav ul li{
    display: inline;
    margin: 0 10px;
}

#enlight{
    border: 1px solid lime;
    width: 30px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/* PLAYLIST SECTION */
#playlist-section-container{
    padding: 0 20px;
}

#playlist-section-container h1{
    line-height: 2rem;
}

#playlist-section-container p{
    line-height: 1.8rem;
}

#playlist-section-container img{
    margin: 15px 0 10px 0 ;
    max-width: 220px;
}

.playlist-container{
    justify-content: flex-start;
}

.playlist{
    flex-direction: column;
    text-align: center;
    width: calc((100vw - 300px) / 6);
    margin-right: 15px;
}

.row{
    margin-top: 25px;
}
/* SECTION RECENTLY PLAYED */

